#cabecera{

    margin-left:400px;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    height: 150px;
    width: 600px;
    background-color: brown;
    z-index: 1000;

}
body{
    background-color: bisque;
}
#lista{
    float: left; 
    margin-top: 0px;
    height: 100px;
    width: 600px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: brown;
    
}
#lista>ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    height: 20px;
}
#lista a{
    padding: 10px;
    text-decoration: none;
    color:red;
    text-transform: uppercase;
    margin-left: 60px;
    font-size: medium;
}
#lista a:hover{
    background-color: dimgrey;
    color: white;
    cursor: pointer;
}
p{
    font-size: medium;
}
#titulo2{
    font-size: small;
    text-align: justify;
}
#redes{
        margin-left: 40%;
        width: 400px;
}